.app{
    height: 100vh;
    display: flex;
    background-color: navy;
    color: whitesmoke;
}
.main{
    width: 75%;
    background: url(./box/bb.jpg) no-repeat center ;
    display: flex;
    flex-direction: column;
}
.top{
    height: 50%;
    position: relative ;
}

.timer{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 5px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 450px;
}

.bottom{
    height: 50%;
}

.trivia{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pyramid{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questions{
    width: 80%;
    background: linear-gradient(#100241, black);
    border: 2px solid white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.answers{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer{
    background: linear-gradient(#0e0124, #22074d);
    width: 40%;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    margin: 0 10px 20px 10px;
}

.answer:hover, 
.answer.active{
    background: mediumblue;
}

.answer.wrong{
    animation: wrong 3s ease forwards;
}

@keyframes wrong{
    0%,
    22%,
    42% {
        background: mediumblue;
    }
    20%,
    40%,
    60%{
        background: linear-gradient(#0e0124, #22074d);
    }
    63%,
    100%{
        background: crimson;
    }
}
.answer.correct{
    animation: correct 3s ease forwards;
}
@keyframes correct{
    0%,
    22%,
    42% {
        background: mediumblue;
    }
    20%,
    40%,
    60%{
        background: linear-gradient(#0e0124, #22074d);
    }
    63%,
    100%{
        background: green;
    }
}

.money-list{
    list-style: none;
    width: 100%;
    padding: 20%;
}

.money-list-item{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.money-list-item.active{
    background-color: aqua;
}

.money-list-number{
    font-size: 18px;
    font-weight: 100;
    width: 30%;
}

.money-list-amount{
    font-size: 20px;
    font-weight: 300;

}

.endtext{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.start{
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: space-around;
}
.startinput{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

.startinput:focus{
    outline: none;
}

.startbutton{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500; 
}

